@{Layout = "_NoBreadcrumbLayout";}

<p class="page-title">Reset email sent</p>
<hr />

<h4>
    If the entered email address is within our database, we have sent you a link to reset your password.
</h4>