@model LoginModel
@{Layout = "_NoBreadcrumbLayout";}



<p class="page-title">Login</p>

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div style="float:right">
        <button role="button" class="btn btn-black" type="submit">Log In</button>
        <a asp-action="Register" class="btn">Register</a>
    </div>
</form>
<div><a asp-action="ForgotPassword">Forgot Password?</a></div>