@{ Layout = "_NoBreadcrumbLayout";}


<p class="page-title">Project Invitation</p>

<hr />

<h4>
    You have been succesfully added to the project:

    Click <a asp-action="SetProjectState" asp-route-projectid="@ViewBag.ProjectId">here</a> to view the project.
</h4>